@use "../util/" as b;

.room__header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 1.5rem;
    display: flex;
    align-items: center;
    z-index: 10;

    @include b.breakpoint("medium") {
        width: 50%;
        padding-block: 1rem;
        padding-inline: 2rem 0;
    }

    @include b.breakpoint("large") {
        width: 60%;
        padding-block: 2rem;
        padding-inline: 4rem 0;
        gap: 1rem;
    }
}

.room__logo-container{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 6rem;
}

.room__hamburger-button{
    display: block;

    @include b.breakpoint ("medium") {
        display: none;
    }
}

// navigation bar
.nav__menu{
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 2rem;
    width: 100%;
    height: 5rem;
    transform: translateY(-100%);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;

    @include b.breakpoint("medium") {
        width: 50%;
        position: relative;
        transform: translateY(0);
        background-color: transparent;
        transition: none;
    }

    @include b.breakpoint("large") {
        width: 60%;
    }

    &.toggle{
        transform: translateY(0);

        @include b.breakpoint("medium") {
            transition: none;
        }
    }

    .nav__list{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;

        @include b.breakpoint("medium") {
            gap: 1rem;
        }

        @include b.breakpoint("large") {
            gap: 2rem;
        }
    }

    .nav__link{
        color: var(--black);
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
        position: relative;

        @include b.breakpoint("medium") {
            font-size: 1rem;
            color: var(--white);
            padding-block: 0.5rem;

            &::after{
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 0%;
                height: 2px;
                background-color: var(--white);
                transition: width 0.3s ease-in-out;
                transform: translateX(-50%);
            }

            &:hover::after{
                width: 50%;
            }
        }
    }

    .room__close-button{
        display: block;

        @include b.breakpoint("medium") {
            display: none;
        }
    }
}