@use "../util/" as b;

.room__hero{
    display: grid;
    grid-template-columns: 1fr;

    @include b.breakpoint("medium") {
        grid-template-columns: 1fr 1fr;
    }

    @include b.breakpoint("large") {
        grid-template-columns: 1.5fr 1fr;
    }
}

.room__hero-desktop{
    object-fit: cover;
    width: 100%;
}