@use "../util/" as b;

.room__hero{
    display: grid;
    grid-template-columns: 1fr;

    @include b.breakpoint("medium") {
        grid-template-columns: 1fr 1fr;
    }

    @include b.breakpoint("large") {
        grid-template-columns: 1.5fr 1fr;
    }

    .room__slider{
        position: absolute;
        bottom: 0;
    }

    .room__slider-button{
        background-color: var(--black);
        outline: none;
        border: none;
        width: 3rem;
        height: 3rem;

    }
}

.room__hero-wrapper{
    position: relative;
    height: 100%;

    .mobile__nav{
        display: flex;
        right: 0;

        @include b.breakpoint("medium"){
            display: none;
        }
    }
}

.room__hero-desktop{
    object-fit: cover;
    width: 100%;
}

// Hero content section
.room__hero-content{
    position: relative;
    padding: 4rem 1.8rem;

    @include b.breakpoint("medium"){
        padding: 1rem;
        max-width: 24rem;
        width: 100%;
        
    }

    @include b.breakpoint("large"){
        padding: 4rem 3rem;
    }

    .desktop__nav{
        display: none;

        @include b.breakpoint("medium"){
            display: flex;
            left: 0;
        }

        .room__slider-button{

            @include b.breakpoint("medium"){
                width: 2rem;
                height: 2rem;
            }

            @include b.breakpoint("large"){
                width: 4rem;
                height: 4rem;
            }
        }
    }
    
    .room__hero-title{
        font-size: 2.2rem;
        font-weight: 700;

        @include b.breakpoint("medium"){
            font-size: 2rem;
        }

        @include b.breakpoint("large"){
            font-size: 2.7rem;
            line-height: 1;
        }
    }

    .room__hero-description{
        font-size: 1rem;
        padding-block: 1rem;
        line-height: 1.4;
        color: var(--grey-500);

        @include b.breakpoint("medium"){
            padding-block: 0.5rem;
            line-height: 1;
        }

        @include b.breakpoint("large"){
            padding-block: 1.4rem;
            line-height: 1.4;
        }
    }

    .hero__content-btn{
        gap: 2rem;
        margin-block-start: 1.5rem;

        @include b.breakpoint("medium"){
            margin-block-start: 0.5rem;
        }
        @include b.breakpoint("medium"){
            margin-block-start: 0;
        }

        .hero__content-paragraph{
            font-weight: 500;
            letter-spacing: 0.8rem;
        }
    }

}

// Grid section
.room__grid{
    display: grid;
    grid-template-columns: 1fr;

    @include b.breakpoint("medium"){
        grid-template-columns: 1fr 2fr 1fr;
    }

    .grid__title{
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.3rem;
    }

    .grid__paragraph{
        font-size: 1rem;
        padding-block: 1rem;
        line-height: 1.4;
        color: var(--grey-500);

        @include b.breakpoint("medium"){
            line-height: 1.1;
            font-size: 0.8rem;
            padding-block: 0.5rem 0;
        }
    }

    .grid__content{
        padding: 4rem 1.8rem;

        @include b.breakpoint("medium"){
            padding: 1rem;
        }
    }
}